.advantages {
  margin: 0 0 40px 0;
}

.advantages__title {
  position: relative;
  padding: 0 0 10px;
  margin: 0 0 15px;
  font-size: 20px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 61px;
    height: 3px;
    background-color: $green-blue;
    border-radius: 10px;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: 50%;

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.advantages__subtitle {
  margin: 10px 12%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin: 10px 18%;
  }
}

.advantages__desc {
  margin: 0;
  font-size: 14px;
  color: $light-grey;
  text-align: center;
}

.advantages__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    display: block;
    content: "";
    background-repeat: no-repeat;
  }

  &--people::before {
    width: 70px;
    height: 70px;
    background-image: url("../img/people.jpg");
  }

  &--timer::before {
    width: 63px;
    height: 67px;
    background-image: url("../img/timer.jpg");
  }

  &--goal::before {
    width: 55px;
    height: 54px;
    background-image: url("../img/goal.jpg");

    @media (min-width: $desktop-width) {
      height: 70px;
    }
  }

  &--partner::before {
    width: 55px;
    height: 52px;
    background-image: url("../img/partner.jpg");

    @media (min-width: $desktop-width) {
      height: 70px;
    }
  }
}
