.contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
 }

.contacts__item {
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.contacts__item .contacts__link {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $green-blue;
  font-size: 10px;
  font-weight: bold;
}

.contacts__link span {
  color: black;

  &:hover {
    opacity: 0.5;
  }
}
