.goods {
  margin-bottom: 40px
}

.goods__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.goods__item {
  position: relative;
  padding: 30px 25px;
  background-color: $grey;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 20px 25px;
    min-height: 82px;
  }

  &--mark {
    @media (min-width: $desktop-width) {
      width: 22%;
    }
  }

  &--sets {
    @media (min-width: $desktop-width) {
      width: 34%;
    }
  }

  &--notebook {
    @media (min-width: $desktop-width) {
      width: 39%;
    }
  }

  &--bluetooth {
    @media (min-width: $desktop-width) {
      width: 34%;
    }
  }

  &--tools {
    @media (min-width: $desktop-width) {
      width: 39%;
    }
  }

  &--print {
    @media (min-width: $desktop-width) {
      width: 22%;
      max-width: 250px;
    }
  }

  &::after {
    position: absolute;
    width: 100px;
    content: "";
    z-index: 1;
    background-repeat: no-repeat;
  }

  &--tools::after {
    right: 0;
    top: 50%;
    transform: translate(0, -60%);
    height: 87px;
    background-image: url("../img/tool.png");
  }

  &--bluetooth::after {
    right: 2%;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
    height: 70px;
    background-image: url("../img/bluetooth.png");
  }

  &--sets::after {
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    height: 66px;
    background-image: url("../img/sets.png");
  }

  &--print::after {
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
    background-image: url("../img/print.png");
  }

  &--notebook::after {
    right: 2%;
    top: 50%;
    transform: translate(0, -45%);
    width: 107px;
    height: 75px;
    background-image: url("../img/notebook.png");
  }

  &--mark::after {
    right: 2%;
    top: 20%;
    width: 60px;
    height: 72px;
    background-image: url("../img/mark.png");
  }
}

.goods__link {
  font-weight: bold;
  color: black;
}

.goods__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
