.header {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }

  &--menu-opened {
    margin-bottom: 400px;
  }
}

.header__inner {
  @media (min-width: $desktop-width) {
    min-width: 50%;
    display: flex;
  }
}

.header__wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--logo {
    margin-right: auto;
  }
}

.header__catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.header__title {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    color: $light-grey;
    font-size: 10px;
  }
}

.header__contacts {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-grey;
  }
}

.header__nav {
  position: absolute;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__inner .header__link {
  font-family: "Montserrat", "Arial", sans-serif;
}

.header__link {
  font-size: 15px;
  font-weight: bold;
  color: $light-grey;

  &--login {
    margin-left: auto;
    font-family: "Montserrat", "Arial", sans-serif;
    color: $black;
    text-decoration: underline;
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &:hover {
    color: $light-grey;
  }
}

.header__link:hover span,
.header__link:hover b {
  color: $light-grey;
}

.header__basket b {
 margin-left: auto;
 margin-top: 3px;
 font-size: 15px;
 color: $black;
}

.header__basket span {
  color: $light-grey;
  font-size: 10px;
}

.header__login {
  margin-right: 10px;
  font-size: 20px;
  order: 1;
  color: black;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__buy {
  display: flex;
  align-items: center;
  order: -1;
  margin-right: 20px;

  @media (min-width: $desktop-width) {
    order: initial;
  }
}

.header__phone,
.header__mail {
  color: $black;
  font-weight: bold;
  font-size: 15px;
}

.header__button {
  position: relative;
  padding: 10px 10px;
  width: 170px;
  color: $white;
  background-color: $green-blue;
  border-radius: 30px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(75%, -35%);
    width: 12px;
    height: 2px;
    background-color: $white;
    border-radius: 15%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 18px;
    height: 18px;
    border-top: 3px solid $white;
    border-bottom: 3px solid $white;
    border-radius: 10%;
  }
}

.header__form {
  width: 70%;
  order: 0;
  margin-right: 10px;
}
