.recommendation {
  margin: 0 0 40px 0;
}

.recommendation__title {
  position: relative;
  padding: 0 0 10px;
  margin: 0 0 15px;
  font-size: 20px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 61px;
    height: 3px;
    background-color: $green-blue;
    border-radius: 10px;
  }
}

.recommendation__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.recommendation__item {
  padding: 5px;
  margin-bottom: 10px;
  width: 48%;
  box-shadow: 0 0 10px rgba(6, 2, 2, 0.05);

  @media (min-width: $desktop-width) {
    width: 24%;
  }
}

.recommendation__link {
  display: block;
  width: 100%;
}

.recommendation__img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.recommendation__subtitle {
  margin: 10px;
  font-size: 12px;
  text-align: center;
  color: black;
}

.recommendation__text {
  display: inline-block;
  margin: 0 5px;
  font-weight: bold;
  font-size: 10px;
  color: black;
}

.recommendation__button {
  @include button-reset;
  padding: 5px;
  border: 2px solid $green-blue;
  border-radius: 15px;
  text-align: center;

  &:hover {
    opacity: 0.5;
  }
}

.recommendation__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
