.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  &--vk,
  &--twitter {
    color: $green-blue;
  }

  &--youtube {
    color: orange;
  }

  &--faceboo {
    color: blue;
  }

  &:hover {
    opacity: 0.5;
  }
}
