.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $white;
  top: 80%;
  bottom: 20%;
  z-index: 10;

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    top: 50%;
    right: 50%;
    cursor: pointer;
  }
}

.swiper .swiper-button-prev {
  left: 10%;

  @media (min-width: $desktop-width) {
    left: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  &::after {
    transform: translate(50%, -50%) rotate(45deg);
  }
}

.swiper .swiper-button-next {
  right: 70%;

  @media (min-width: $desktop-width) {
    right: 0%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }

  &::after {
    transform: translate(50%, -50%) rotate(-135deg);
  }
}

.swiper .swiper-pagination {
  padding: 0 0 0 10%;
  top: 50%;
  text-align: left;

  @media (min-width: $desktop-width) {

  }
}

.swiper .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: $white;
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background-color: $white;
  opacity: 0.5;
}
