.shop-button {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: $white;
  border-radius: 50%;
  z-index: 1;
  top: 75%;
  transform: translateY(-50%);

  @media (min-width: $desktop-width) {
    top: 50%;
  }


  &::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    top: 50%;
    right: 50%;
    cursor: pointer;
  }

  &--prev {
    left: 10%;

    &::after {
      transform: translate(50%, -50%) rotate(45deg);
    }

    @media (min-width: $desktop-width) {
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  &--next {
    left: 25%;

    &::after {
      transform: translate(50%, -50%) rotate(-135deg);
    }

    @media (min-width: $desktop-width) {
      transform: translate(50%, -50%);
      left: auto;
      right: 0;
    };
  }
}

.shop-pagination {
  position: absolute;
  padding: 0 0 0 10%;
  top: 50%;
  text-align: left;
}

.shop-pagination .swiper-pagination-bullet {
  position: relative;
  width: 7px;
  height: 7px;
  background-color: $white;
  opacity: 1;
  z-index: 10;
}

.shop-pagination .swiper-pagination-bullet-active {
  background-color: $white;
  opacity: 0.5;
}
