.youtube {
  margin: 0 auto 40px;
}

.youtube__title {
    position: relative;
  padding: 0 0 10px;
  margin: 0 0 15px;
  font-size: 20px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 61px;
    height: 3px;
    background-color: $green-blue;
    border-radius: 10px;
  }
}

.youtube__list {
  @include list-reset;
}

.youtube__link {
  display: block;
  color: black;
  font-weight: bold;
}

.youtube__img {
  display: block;
  width: 100%;
  border-radius: 10%;
}
