.container {
  min-width: 360px;
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    padding: 0 15px;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
    max-width: 1400px;
  }
}

