$white: rgba(255, 255, 255, 1);
$opacity-white: rgba(255, 255, 255, 0.1);
$black: rgba(0, 0, 0, 1);
$grey: rgb(248, 248, 248);
$light-grey: rgb(200, 203, 200);
$placeholder-color: rgba(29, 22, 19, 1);
$grey-opacity: rgba(29, 22, 19, 0.25);
$green-blue:  rgb(90,173,151);
